@section AdditionalResources {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ImageSlider/SlideShow.css")" />
}

@{ ImageSliderSlideShowDemoOptions options = (ImageSliderSlideShowDemoOptions)ViewData["Options"]; }

@using (Html.BeginForm())
{
    <div class="vertOptionsPanel" style="height: 100px">
        <div class="BottomMargin"><b>Slide Show Settings:</b></div>
        <div>
            <label class="checkBox" for="AutoPlay">AutoPlay:</label>
            @Html.CheckBox("AutoPlay", options.AutoPlay)
        </div>
        <div>
            <label class="checkBox" for="StopPlayingWhenPaging">StopPlayingWhenPaging:</label>
            @Html.CheckBox("StopPlayingWhenPaging", options.StopPlayingWhenPaging)
        </div>
        <div>
            <label class="checkBox" for="PausePlayingWhenMouseOver">PausePlayingWhenMouseOver:</label>
            @Html.CheckBox("PausePlayingWhenMouseOver", options.PausePlayingWhenMouseOver)
        </div>
    </div>
    <div class="vertOptionsPanel" style="height: 100px; padding-top: 19px">
        <div style="margin-bottom: 3px">
            <label for="Interval">Interval (ms):</label>
            @Html.DropDownList("Interval", ImageSliderDemoHelper.GetSlideShowIntervals(), new { style = "width: 107px" })
        </div>
        <div>
            <label class="select" for="PlayPauseButtonVisibility">PlayPauseButtonVisibility:</label>
            @Html.DropDownList("PlayPauseButtonVisibility", typeof(ElementVisibilityMode), options.PlayPauseButtonVisibility)
        </div>
        <div style="float: right">
            <input type="submit" value="Apply" />
        </div>
    </div>
    <br />
    <div style="clear: both">
        @Html.DevExpress().ImageSlider(
            settings =>
            {
                settings.Name = "imageSlider";
                settings.EnableTheming = false;
                settings.Width = Unit.Pixel(800);
                settings.Height = Unit.Pixel(313);
                settings.NavigateUrlFormatString = "javascript:void({0});";

                settings.SettingsImageArea.ImageSizeMode = ImageSizeMode.ActualSizeOrFit;
                settings.SettingsImageArea.NavigationButtonVisibility = ElementVisibilityMode.None;
                settings.SettingsImageArea.ItemTextVisibility = ElementVisibilityMode.Always;
                settings.SettingsImageArea.EnableLoopNavigation = true;
                settings.SettingsNavigationBar.Mode = NavigationBarMode.Dots;

                settings.SettingsSlideShow.AutoPlay = options.AutoPlay;
                settings.SettingsSlideShow.Interval = options.Interval;
                settings.SettingsSlideShow.PausePlayingWhenMouseOver = options.PausePlayingWhenMouseOver;
                settings.SettingsSlideShow.PlayPauseButtonVisibility = options.PlayPauseButtonVisibility;
                settings.SettingsSlideShow.StopPlayingWhenPaging = options.StopPlayingWhenPaging;

                settings.Items.Add(
                    item =>
                    {
                        item.ImageUrl = Url.Content("~/Content/Images/widescreen/woman-using-laptop.jpg");
                        item.NavigateUrl = "1";
                        item.SetTextTemplateContent(
                            "<h3 class='isdemoH3'>Smile</h3>" +
                            "<p>It takes 17 muscles to smile and 43 to frown. <a tabindex=\"-1\" href='javascript:void(1);'>Details »</a></p>"
                        );
                    }
                );
                settings.Items.Add(
                    item =>
                    {
                        item.ImageUrl = Url.Content("~/Content/Images/widescreen/swimmer-underwater.jpg");
                        item.NavigateUrl = "2";
                        item.SetTextTemplateContent(
                            "<h3 class='isdemoH3'>Dolphins</h3>" +
                            "<p>Dolphins sleep with one eye open. <a tabindex=\"-1\" href='javascript:void(2);'>Details »</a></p>"
                        );
                    }
                );
                settings.Items.Add(
                    item =>
                    {
                        item.ImageUrl = Url.Content("~/Content/Images/widescreen/typing-male-hands.jpg");
                        item.NavigateUrl = "3";
                        item.SetTextTemplateContent(
                            "<h3 class='isdemoH3'>Paper</h3>" +
                            "<p>No piece of paper can be folded in half more than eight times. <a tabindex=\"-1\" href='javascript:void(3);'>Details »</a></p>"
                        );
                    }
                );
                settings.Items.Add(
                    item =>
                    {
                        item.ImageUrl = Url.Content("~/Content/Images/widescreen/man-climbing-on-limestone-wall.jpg");
                        item.NavigateUrl = "4";
                        item.SetTextTemplateContent(
                            "<h3 class='isdemoH3'>Walking</h3>" +
                            "<p>In the average lifetime a person will walk the equivalent of five times around the equator. <a tabindex=\"-1\" href='javascript:void(4);'>Details »</a></p>"
                        );
                    }
                );
                settings.Items.Add(
                    item =>
                    {
                        item.ImageUrl = Url.Content("~/Content/Images/widescreen/woman-using-notebook.jpg");
                        item.NavigateUrl = "5";
                        item.SetTextTemplateContent(
                            "<h3 class='isdemoH3'>Calories</h3>" +
                            "<p>You burn more calories sleeping than you do watching TV. <a tabindex=\"-1\" href='javascript:void(5);'>Details »</a></p>"
                        );
                    }
                );
            }
        ).GetHtml()
    </div>
}


















































